html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1em;
    font-family: "微软雅黑";
    background: rgb(255, 255, 255) url(background001.png) repeat fixed;
}

body{
    display: flex;
    justify-content: center;
}

/*通用窗口CSS*/

.window {
    color : #444;
    position: absolute;
    display : table;
    border : 1px solid gray;
    border-radius : 5px;
    background-color: #E3E9EB;
    box-shadow: 0 0 10px #777;
}

.window-title {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 5px;
    margin-bottom: 0;
    border : 1px solid #AAA4A4;
    border-bottom: none;
    height : 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background : linear-gradient(to bottom, #F0F0F0, #DDD);
    user-select:none;
    -webkit-user-select: none;
}

.window-title-left-span{
    display: flex;
    cursor: move;
    font-size: 0.8em;
    flex-grow: 1;
    padding-left: 5px;
}

.window-title-right-icon{
    margin-right: 4px;
}

.window-title-right-icon .m-point3
{
    box-sizing: border-box;
    display: table-cell;
    width : 24px;
    height: 14px;
    border-radius: 7px;
    background-color: rgb(238, 158, 165);
}

.window-title-right-icon .point3
{
    box-sizing: border-box;
    display: table-cell;
    width : 24px;
    height: 14px;
    border-radius: 7px;
    background-color: rgb(238, 158, 165);
}

.window-title-right-icon .point3:hover{
    background-color: rgb(235, 79, 92);
}

.window-container {
    box-sizing: border-box;
    position: relative;
    display: table;
    margin : 5px;
    margin-top : 0;
    border : 1px solid #AAA4A4;
    background-color: #F8F4F4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}